- title @project.title, true, project_tasks_path(@project)

%p= "#{pluralize(@participations.size, 'person')} #{pluralize_verb(@participations.size, 'participate')} in this project."
%table.participants
  - for participation in @participations
    %tr[participation]
      %td
        = image_tag participation.participant.gravatar_url(:size => 48)
      %td
        = participation.participant.login
      %td
        = mail_to(participation.participant.email, truncate(participation.participant.email))
      %td
        - if can_remove?(participation.participant)
          = button_to('Remove »', project_participation_path(@project, participation), :method => :delete, :class => 'button')

= link_to('Add person', new_project_participation_path(@project), :class => 'button')