%tr[comment]
  %td
    = image_tag(comment.author.gravatar_url(:size => 48), :class => 'avatar', :title => comment.author.login, :onerror => 'missing_avatar(this)')
  %td
    = insanely_format(comment.message)
    = render :partial => 'assets/asset', :collection => comment.assets
    .meta-info
      = "Posted #{time_ago_in_words(comment.created_at)} ago"
      |
      = link_to('Delete', project_task_comment_path(@project, @task, comment), :confirm => 'Are you sure?', :method => :delete)