- title @project.title, true, active_project_tasks_path(@project)

#aside
  = render :partial => 'tasks/search_form'
  = render :partial => 'hashtags/cloud', :locals => { :hashtags => @project.hashtags}
- unless @tasks.blank?
  %table.tasks
    %tfoot
      %tr
        %td{:colspan => 2}
          = will_paginate @tasks
    = render :partial => 'task', :collection => @tasks, :locals => { :show_comments => true }
- else
  %p
    Tabula rasa.
    - unless params[:query] || params[:page] || request.path != active_project_tasks_path
      = link_to('Add one.', new_project_task_path(@project))