- title @project.title

-content_for :aside do
  = render :partial => 'hashtags/cloud', :locals => { :hashtags => @project.hashtags }
  = render :partial => 'shared/resource_states', :locals => { :links => task_links}

= render :partial => 'tasks/search'
.actions
  = link_to('Add a task', new_resource_path)
- unless @tasks.blank?
  %table#tasks
    %tfoot
      %tr
        %td{:colspan => 2}
          = will_paginate @tasks
    = render :partial => 'task', :collection => @tasks, :locals => { :show_comments => true }
- if @project.description.present?
  = sanitize(auto_link(textilize(@project.description)))
%p#project-settings
  This project is private and has
  = pluralize(@project.participants.size, 'participant') + '.'
%p
  = link_to('Edit project', edit_project_path(@project))