- title @project.title

-content_for :aside do
  = render :partial => 'hashtags/cloud', :locals => { :hashtags => @project.hashtags }
  = render :partial => 'shared/resource_states', :locals => { :links => task_links}

%table#tasks
  %tfoot
    %tr
      %td
      %td
        = render(:partial => 'comments/form')
  = render(:partial => 'tasks/task', :locals => { :task => @task, :show_comments => false })
  = render(:partial => 'comments/comment', :collection => @task.comments.reject{ |c| c.new_record? })