- title @project.title, true, project_tasks_path(@project)

#aside
  = render :partial => 'tasks/search_form'
  = render(:partial => 'hashtags/cloud', :locals => { :hashtags => @project.hashtags})
%table.tasks
  %tfoot
    %tr
      %td
      %td
        = render(:partial => 'comments/form')
  = render(:partial => 'tasks/task', :locals => { :task => @task, :show_comments => false })
  = render(:partial => 'comments/comment', :collection => @task.comments.reject{ |c| c.new_record? })