- title 'Insanely'

- unless @projects.blank?
  %h2
    %span Projects:
  
  %ol#projects
    - for project in @projects
      %li.project
        = link_to(project.title, project_tasks_path(project))
        - if current_user.id == project.creator_id
          = link_to('(Edit)', edit_project_path(project), :class => 'small')
        - if project.tasks.active.count > 0 && (project.tasks.complete.count > 0 || project.tasks.frozen.count > 0)
          = image_tag(chart(project), :class => 'gchart')
        .project-statuses
          = synopsis_of(project)
%p
  = link_to('Create new project', new_resource_path)