- title 'Invite a person'

-content_for :aside do
  = render :partial => 'shared/resource_states', :locals => { :links => project_links}

- form_for(:workmate, @workmate, :url => workmates_path, :html => { :class => 'dressed-up'} ) do |f|
  = f.error_messages
  %dl
    %dt
      = f.label :email
    %dd
      = f.text_field :email
    %dd
      = f.submit 'Invite person »', :class => 'button'

