!!!
%html
  %head
    %title= yield :title
    %meta{:name => 'viewport', :content => 'width=320'}
    %link{:href => '/images/icon.png', :rel => 'shortcut icon', :type => 'image/x-icon'}
    = stylesheet_link_tag 'application'
    /[if IE]
      %style{:type => "text/css"}
        \.clearfix { zoom: 1; }
    = javascript_include_tag 'jquery-1.3.2.min', 'application'
    - if @content_for_head
      = yield(:head)
    %script{:type => 'text/javascript'}
      = "rails_authenticity_token='#{form_authenticity_token}';"
      - if current_user
        = "var assignment_count=#{assignment_count};"
  %body
    #header
      - header_with_title
    #container.clearfix
      - flash_message
      = yield
    #nav
      -if current_user
        .right
          - if @project && !@project.new_record?
            = link_to project_assignment_count, assigned_project_participant_tasks_path(@project, current_user), :id => 'assignment-count'
            = link_to_unless_current('Add task', new_project_task_path(@project)) {}
          = link_to_unless(controller_name == 'projects' && action_name == 'index', 'Dashboard', projects_path, :id => 'home') {}
          = link_to('Log out', logout_path)
      - else
        .right
          = link_to_unless_current('Log in', new_user_session_path) {}
    #footer.clearfix
      = link_to("&nbsp;&copy;#{Time.now.year} Paper Cavalier", 'https://papercavalier.com', :class => 'small')