!!!
%html
  %head
    %title= yield(:title)
    = render :partial => 'layouts/head'
  %body.regular
    #header
      .wrapper
        -project_title
        - if current_user
          = render 'layouts/user_nav'
    #main.clearfix
      #content
        - flash_message
        = yield
      - if @content_for_aside
        #aside
          = yield(:aside)
    #footer
      .wrapper
        %p
          A copylefted byproduct of
          = link_to('Paper Cavalier', 'http://papercavalier.com')
        