!!!
%html
  %head
    %title= yield(:title)
    = render :partial => 'layouts/head'
  %body.regular
    #header
      - if in_project
        .wrapper
          -project_title
          = render 'layouts/navigation'
    #page-wrapper.clearfix
      #content
        - flash_message
        = yield
      - if @content_for_aside
        #aside
          = yield(:aside)
    #copyright
      .wrapper
        = link_to('A Paper Cavalier byproduct', 'http://papercavalier.com')
        