!!!
%html
  %head
    %title= yield(:title)
    = render :partial => 'layouts/head'
  %body.regular
    #header
      .wrapper
        -project_title
        - if in_project
          = render 'layouts/navigation'
    #page-wrapper.clearfix
      #content
        - flash_message
        = yield
      - if @content_for_aside
        #aside
          = yield(:aside)
    #copyright
      .wrapper
        %p
          You've stumbled upon a
          = link_to('Paper Cavalier', 'http://papercavalier.com')
          byproduct.
        